{{! 首页顶部工具栏}}
{{!yield}}
<nav class="navbar navbar-default opacity09" style="border-radius: 0; z-index: 1100;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-main-header-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'pc.projects.todos' model.defaultProjectId class="navbar-brand"}}
      DDLISTING
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="app-main-header-collapse">
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-grouphas-feedback">
          <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" value={{favoriteBand}} onblur={{action "bandDidChange" value="target.value"}} />
            {{!input type="text" class="form-control search-input" placeholder="Search……"
                id="todoSearchInputId" aria-describedby="searchAriaDescribedby" value=queryValue}}
                {{!input type="hidden" value=queryValue2}}
          </div>
        </div>
      </form> -->

      <!-- 分辨率小于768px不显示 -->
      <ul class="nav navbar-nav navbar-right min-width-768">
          <li>
              <img src="http://list.ddlisting.com/assets/images/profile-photo-bd164e6840de7dcf3fb823c789237075.jpg"
                  alt="头像" width="45px" height="45px" />
          </li>

        <li class="1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          role="button" aria-haspopup="true" aria-expanded="false">{{model.userEmail}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li>{{#link-to 'pc.projects.todos' model.defaultProjectId}}个人中心{{/link-to}}</li> -->
            <li><a data-toggle="modal" data-target=".pc-profile-modal-win">个人中心</a></li>
            <li>{{#link-to 'pc'}}清单广场{{/link-to}}</li>
            <li><a href="www.ddlisting.com">天天清单网站</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" {{action 'logout'}}>退出</a></li>
          </ul>
        </li>
      </ul>

      <!-- 分辨率小于768px显示 -->
      <ul class="nav navbar-nav navbar-right max-width-768-menu">
        <li>{{#link-to 'pc.projects.todos' model.defaultProjectId}}个人中心{{/link-to}}</li>
        <li>{{#link-to 'pc'}}清单广场{{/link-to}}</li>
        <li><a href="www.ddlisting.com">天天清单网站</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" {{action 'logout'}}>退出</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
