{{! app/templates/components/todo-page.hbs todo列表元素}}
<div class="list-group my-list-group">
    <div style="position: relative;">
        <div class="todo-checkbox" {{action 'doChecked' todoItem.id todoItem.checked}}>
            <!-- <input type="checkbox" class="form-control" checked>
            <span class="glyphicon {{if todoItem.checked 'glyphicon-check' 'glyphicon-unchecked'}}"></span>
             -->
             {{#if todoItem.checked}}
            <i class="iconfont" style="font-size:18px;">&#xe62f;</i>
            {{else}}
             <i class="iconfont">&#xe626;</i>
            {{/if}}
        </div>
        {{#link-to 'pc.projects.todos.todoitem' todoItem.id class="a-selector"}}
            <p class="bg-info list-group-item {{if todoItem.checked 'complete-todo-item'}}" id="todoItemTagASelector">{{todoItem.title}}</p>
        {{/link-to}}

        <div class="todo-create-date">
            <span>{{format-date todoItem.timestamp}}</span>
        </div>

        <div class="star-bookmark" {{action 'doStar' todoItem.id todoItem.star}}>
             <!-- <span class="glyphicon glyphicon-star todo-star"></span>
            <img src="/assets/images/bookmark/bookmark1.png" class="{{if todoItem.star 'opacity1'}}" /> -->
            <i class="iconfont {{if todoItem.star 'opacity1'}}">&#xe6bc;</i>
        </div>
    </div>
</div>
