{{! app/templates/components/todo-item-detail-page.hbs 详细设置页面}}

{{! 用于设置刷新后左侧分类的默认选中状态}}
{{input type="hidden" value=model.id id="selectedTodoId"}}

<div id="pcTodoItemId">

    <div class="inner">

        <div class="todo-item-top">
            <form class="form-inline">
                <div class="todo-checkbox form-group">
                    {{#if model.checked}}
                   <i class="iconfont check-icon-25"  {{action 'doChecked' model.id model.checked}}>&#xe62f;</i>
                   {{else}}
                    <i class="iconfont check-icon-23" {{action 'doChecked' model.id model.checked}}>&#xe626;</i>
                   {{/if}}
                </div>

                <div class="form-group form-textarea">
                    <!-- <div contentEditable="true" id="pc_update_todo_title_id" class="pc-todo-item-title"
                        title="{{model.title}}" onblur={{action "updateTitle" model.id}}>{{model.title}}</div> -->
                    <textarea class="form-control pc-todo-item-title" id="pc_update_todo_title_id"
                        onblur={{action 'updateTitle' model.id}}>{{model.title}}</textarea>

                    <div class="todo-item-gy" {{action 'doStar' model.id model.star}}>
                        <i class="iconfont {{if model.star 'opacity1'}}">&#xe6bc;</i>
                    </div>
                </div>

                <div class="form-group">
                </div>
            </form>
        </div>

        <div class="todo-item-middle">
            <div style="overflow: auto;" id="middleOverflowId">
                <div class="pc-todo-item-detail-ispublic">
                   {{#if model.isPublish}}
                    <i class="iconfont" {{action 'doPublic' model.id model.isPublish}}>&#xe62f;</i>
                   {{else}}
                    <i class="iconfont" {{action 'doPublic' model.id model.isPublish}}>&#xe622;</i>
                   {{/if}}
                   &nbsp;&nbsp;是否公开到清单广场
                   <a data-toggle="tooltip" data-placement="top" title="公开后本todo会在清单广场展示，任何人都可以查看、评论、点赞。"
                    onmouseover="javascript:$(this).tooltip('toggle');" class="pull-right">
                       <i class="iconfont question">&#xe61e;</i>
                   </a>
                </div>
                <div class="due-time">
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="form-group has-feedback mgbt0">
                              <input type="text" class="form-control" id="startTimeId" aria-describedby="startTimeId1"
                               placeholder="开始时间" readonly value={{model.startDate}}
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm', autoclose:true,highLineWeekDay:true})"
                               onblur={{action 'setStartTimeById' model.id}}>
                              <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                              <span id="startTimeId1" class="sr-only">(success)</span>
                          </div>
                          <div class="form-group has-feedback mgbt0">
                              <input type="text" class="form-control" id="endTimeId" aria-describedby="DueTime2"
                               placeholder="结束时间" readonly value={{model.endDate}}
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm', autoclose:true})"
                               onblur={{action 'setEndTimeById' model.id}}>
                              <span class="glyphicon glyphicon-time form-control-feedback" aria-hidden="true"></span>
                              <span id="DueTime2" class="sr-only">(success)</span>
                          </div>
                      </div>
                    </div>
                </div>


                <div class="subtodo-list">
                    <div class="form-group has-feedback">
                        {{input type="hidden" value=model.id id="parentTodoId"}}
                        {{input type="text" class="form-control opacity09"
                            id="newSubTodoId" placeholder="请输入子任务项" value=subTodoTitle enter="saveSubTodo"}}
                    </div>

                    {{#each model.childTodos as |subTodo|}}
                    {{#if (filter-todo-by-status subTodo.recordStatus '' '' '_NOT_DEL__')}}
                        <div class="list-group my-list-group">
                            <p class="bg-info list-group-item">
                                {{#if subTodo.checked}}
                               <i class="iconfont"  {{action 'doChecked' subTodo.id subTodo.checked}}>&#xe62f;</i>
                               {{else}}
                                <i class="iconfont" {{action 'doChecked' subTodo.id subTodo.checked}}>&#xe626;</i>
                               {{/if}}
                               <span class="">
                                <input type="text" value={{subTodo.title}} name="subTitle" id="{{subTodo.id}}"
                                    class="sub-todo-title {{if subTodo.checked 'complete-todo-item'}}" onblur={{action 'updateSubTodoTitle' subTodo.id}}>
                               </span>
                                <span class="glyphicon glyphicon-remove" {{action 'delSubTodo' subTodo.id}}></span>
                            </p>
                        </div>
                    {{/if}}
                    {{/each}}

                </div>  {{! 子任务列表}}

                <div class="form-group">
                    <textarea name="" class="form-control todo-remark" id="todoRemarkId"
                        placeholder="添加备注……" value=remark onblur={{action 'updateRemarkById' model.id}}>{{model.remark}}</textarea>
                </div>
            </div>
        </div>  <!-- //auto-overflow-x-->

        <div class="todo-item-bottom">
            <a class="btn btn-default btn-xs" href="/#/pc/projects/{{model.project.id}}"
                onclick="javascript: $('#appMainRightId').css('marginRight', '0');">
                关闭面板<span class="glyphicon glyphicon-menu-right"></span>
            </a>
            <span class="create-date">
                {{model.startDate}}
            </span>

            {{#button-with-confirmation type="button" class="btn btn-danger btn-xs"
             text="删除此分类会把所属的子任务也删除，请确认？"
             onConfirm=(action 'delParentTodo' model.id model.project.id)}}
                 <span class="glyphicon glyphicon-trash"></span>
                 删除本任务
             {{/button-with-confirmation}}
        </div>

    </div>

</div>
