{{! todo广场，显示所有的公开的todo  app/templates/pc/public-todos.hbs
@Author: ubuntuvim
@Date:   2016-06-28T00:11:26+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-29T22:04:47+08:00
todo广场，显示所有的公开的todo}}
<div style="overflow: auto; height: 100vh; position: absolute; width: 100%;" id="publicTodosListPageId">

<nav class="navbar navbar-default navbar-fixed-top opacity09" style="border-radius: 0; z-index: 1100;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#app-main-header-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'pc.publicTodos' class="navbar-brand"}}
      <img src="/assets/images/bookmark/logo.png" alt="logo" height="40px" style="display: inline; border: 0; margin-top: -10px;"/>
      天天清单
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="app-main-header-collapse">
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-feedback">
            {{input type="text" class="form-control search-input" placeholder="任务搜索……"
                id="publicTodosSearchInputId" aria-describedby="searchAriaDescribedby2" value=queryPublicTodoValue}}
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            <span id="searchAriaDescribedby2" class="sr-only">(success)</span>
          </div>
      </form>

    <!-- <ul class="nav navbar-nav">
        <li>
            {{#link-to 'pc.projects'}}开放列表{{/link-to}}
        </li>
        <li>
            {{#link-to 'pc.projects'}}清单用户{{/link-to}}
        </li>
    </ul> -->

    <ul class="nav navbar-nav navbar-right margin-right15">
      <li>
          {{! 显示默认的分类}}
          {{#each model.user.projects as |proj|}}
              {{#if proj.isDefaultProj}}
                {{#link-to 'pc.projects.todos' proj.id}}
                    <font color="black">我的列表</font>
                {{/link-to}}
              {{/if}}
          {{/each}}
      </li>
      <li>{{#link-to 'help'}}清单简介{{/link-to}}</li>
      <li>
        <a href ="#" {{action 'logout'}}>退出</a>
      </li>
    </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid pc-todo-list-square">

    <div class="row">

        <div class="col-md-8 col-xs-8">
            <div class="inner">
                {{! queryPublicTodoValue是顶部查询输入框的查询值}}
                {{pc/public-todos/pc-index-todo-list-panel store=store model=model queryPublicTodoValue=queryPublicTodoValueCmt}}
            </div>

        </div>

        <div class="col-md-4 col-xs-4">
            <div class="inner">
                {{pc/public-todos/pc-index-user-list-panel store=store model=model}}
            </div>
        </div>
    </div>

</div><!-- container-fluid -->

</div>


{{outlet}}
