{{!  清单广场用户列表  app/templates/comonents/pc/pc-index-user-list-panel.hbs
@Author: ubuntuvim
@Date:   2016-07-19T01:49:32+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-29T22:27:26+08:00
}}
<div class="panel panel-default">
  <div class="panel-heading" style="color: #23527c;font-weight:600;">
      排行榜
      <span class="pull-right" style="margin-top: 5px;color:#555;font-size:11px;">清单数 / 积分</span>
  </div>
  <div class="panel-body">
      <ul class="list-group">
          {{#each userListSortByTodosCount as |user index|}}
            <li class="list-group-item">
                {{index-plus-one index}}
                <img src={{user.userProfile}} alt="" class="img-circle" height="30px" />
                {{#if (eq user.email model.user.email)}}
                    {{! 查询出默认的分类}}
                    {{#each user.projects as |proj|}}
                        {{#if proj.isDefaultProj}}
                            {{#link-to 'pc.projects.todos' proj.id}}{{user.email}}{{/link-to}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{user.email}}
                {{/if}}
                <span class="grade">{{user.myIntegral}}</span>
                <span class="grade">{{user.myTodoCount}}&nbsp;/&nbsp;</span>
            </li>
          {{/each}}
      </ul>
  </div>
</div>
