{{! 清单广场页面，单个任务组件 app/templates/components/pc/pc-index-todo-item.hbs
@Author: ubuntuvim
@Date:   2016-07-19T20:17:40+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-29T23:28:53+08:00
}}
<div class="list-group">
    {{#link-to 'pc.publicTodos.detail' todoItem class="list-group-item"}}
        <p class="author-create-date">
            {{! 如果是当前用户的分类可以点击进入APP列表页面}}
            {{#if (eq todoItem.userId userId)}}
                {{! 如果是当前用户可以进入到默认列表}}
                {{#each model.user.projects as |proj|}}
                    {{#if proj.isDefaultProj}}
                        {{#link-to 'pc.projects.todos' proj.id}}{{todoItem.user.email}}&nbsp;&nbsp;{{/link-to}}
                    {{/if}}
                {{/each}}
                <span class="glyphicon glyphicon-triangle-right"></span>
                {{! 分类链接}}
                {{#link-to 'pc.projects.todos' todoItem.project.id}}
                  {{todoItem.project.projName}}&nbsp;&nbsp;
                {{/link-to}}
            {{else}}

                {{todoItem.user.email}}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-triangle-right"></span>
                {{todoItem.project.projName}}&nbsp;&nbsp;

            {{/if}}
            {{format-date todoItem.timestamp}}
            发布任务
            <span class="public-todos-item-list-glc-tools">
                {{! 大于0才显示}}
                {{#if todoItem.greatCount}}
                <span class="glyphicon glyphicon-thumbs-up"></span>({{todoItem.greatCount}})
                {{/if}}
                {{#if todoItem.likeCount}}
                <span class="glyphicon glyphicon-heart"></span>({{todoItem.likeCount}})
                {{/if}}
                {{#if todoItem.commentCount}}
                <span class="glyphicon glyphicon-comment"></span>({{todoItem.commentCount}})
                {{/if}}
            </span>
        </p>
        <p class="title">
            {{make-html-tag todoItem.title}}
        </p>
    {{/link-to}}
</div>
