{{! app/templates/pc/projects/todos.hbs 首页右侧主要内容显示区}}

<div class="form-grouphas-feedback">
    <div class="input-group">
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
      </span>
      <!-- <input type="text" value={{favoriteBand}} onblur={{action "bandDidChange" value="target.value"}} /> -->
      {{input type="text" class="form-control search-input" placeholder="任务搜索……"
          id="todoSearchInputId" aria-describedby="searchAriaDescribedby" value=queryTodoValue}}
          {{!input type="hidden" value=sortDefinition}}
    </div>
</div>

{{! 选择的分类}}
{{input type="hidden" value=model.project id="projecId"}}

{{! 新建todo}}
{{create-todo-input store=store model=model}}

{{! 显示完成的任务列表}}
{{todo-list-page store=store
    model=model
    queryTodoValueCptVal=queryTodoValueCpt
    sortKeyValue=sortKeyValue
    sortedModel=sortedModel
    isShowCompletedTodoList=isShowCompletedTodoList
}}

{{! 右下角工具栏}}
<div class="pc-main-page-tools">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" id="pcMainTodoToolsId" {{action 'showCompletedTodoList'}}
      onclick="javascript: if ($(this).hasClass('todo-item-selected-status')) { $(this).removeClass('todo-item-selected-status'); } else { $(this).addClass('todo-item-selected-status'); }">显示已经完成任务({{completedCount}})</button>
      <!-- <button type="button" class="btn btn-default">排序</button> -->
      <div class="btn-group dropup">
          <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  id="pcMainTodoToolsSort">
            排序&nbsp;<span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
              <li {{action 'resetSortProperty' 'timestamp'}} class="active" id="timestamp"><a><span class="glyphicon glyphicon-dashboard"></span>&nbsp;按创建时间排序</a></li>
              <li {{action 'resetSortProperty' 'star'}} id="star"><a><span class="glyphicon glyphicon-star"></span>&nbsp;按星号标记排序</a></li>
              <li {{action 'resetSortProperty' 'endDate'}} id="endDate"><a><span class="glyphicon glyphicon-time"></span>&nbsp;按到期时间排序</a></li>
              <li {{action 'resetSortProperty' 'title'}} id="title"><a><span class="glyphicon glyphicon-sort-by-alphabet"></span>&nbsp;按标题</a></li>

              <!-- <li role="separator" class="divider"></li> -->
            </ul>
        </div>
    </div>
</div>


{{! todo详细设置页面渲染到此}}
{{outlet}}
