{{! 首页顶部工具栏 app/templates/components/pc/app-main-header.hbs
@Author: ubuntuvim
@Date:   2016-06-29T21:13:18+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-04T03:46:48+08:00
}}
<nav class="navbar navbar-default opacity09" style="border-radius: 0; z-index: 1100;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-main-header-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'pc.projects.todos' model.defaultProjectId class="navbar-brand"}}
      DDLISTING
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse opacity09" id="app-main-header-collapse">
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-grouphas-feedback">
          <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" value={{favoriteBand}} onblur={{action "bandDidChange" value="target.value"}} />
            {{!input type="text" class="form-control search-input" placeholder="Search……"
                id="todoSearchInputId" aria-describedby="searchAriaDescribedby" value=queryValue}}
                {{!input type="hidden" value=queryValue2}}
          </div>
        </div>
      </form> -->

      <!-- 分辨率小于768px不显示 -->
      <ul class="nav navbar-nav navbar-right min-width-768">
        <li class="1">
          <a href="#" class="header-pic dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              <img src={{model.user.userProfile}}
                  alt="头像" width="45px" height="45px" class="img-circle" />
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a>{{model.user.email}}</a></li>
            <!-- <li>{{#link-to 'pc.projects.todos' model.defaultProjectId}}个人中心{{/link-to}}</li> -->
            <li><a data-toggle="modal" data-target=".pc-profile-modal-win">个人中心</a></li>
            <li><a data-toggle="modal" data-target="#changeBackground">更换背景</a></li>
            <li>{{#link-to 'pc.publicTodos'}}清单广场{{/link-to}}</li>
            <li>{{#link-to 'help'}}天天清单简介{{/link-to}}</li>
            <li><a href="www.ddlisting.com">天天清单网站</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" {{action 'logout'}}>退出</a></li>
          </ul>
        </li>
      </ul>

      <!-- 分辨率小于768px显示 -->
      <ul class="nav navbar-nav navbar-right max-width-768-menu">
        <!-- <li>{{#link-to 'pc.projects.todos' model.defaultProjectId}}个人中心{{/link-to}}</li> -->
        <li><a data-toggle="modal" data-target="#changeBackground">更换背景</a></li>
        <li>{{#link-to 'pc.publicTodos'}}清单广场{{/link-to}}</li>
        <li>{{#link-to 'help'}}天天清单简介{{/link-to}}</li>
        <li><a href="www.ddlisting.com">天天清单网站</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" {{action 'logout'}}>退出</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
