{{! app/templates/components/change-background-img.hbs 更改背景图片
@Author: ubuntuvim
@Date:   2016-07-04T21:28:54+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-09T16:07:39+08:00
}}
<!-- Modal -->
<div class="modal fade" id="changeBackground" tabindex="-1" role="dialog" aria-labelledby="changeBackgroundImgLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="changeBackgroundImgLabel">点击喜欢的背景快速更改背景图片</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              {{#each model.bgImgList as |bg|}}
                <div class="col-xs-4 col-md-2" {{action 'resetBgImg' bg.imgUrl bg.id}}>
                    <span class="glyphicon glyphicon-ok" id="span{{bg.id}}"></span>
                  <a class="thumbnail" id={{bg.id}}>
                    <img src={{bg.imgThumb}} alt={{bg.imgTitle}}>
                  </a>
                </div>
              {{/each}}
          </div>
      </div>
    </div>
  </div>
</div>
