<!--
@Author: ubuntuvim
@Date:   2016-06-10T00:17:41+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-08T01:12:18+08:00
-->



{{! app/templates/components/register-modal.hbs 注册}}
<form {{action 'register' on='submit'}} id="register-modal-form">
<div class="modal fade" id="register-modal-win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-sm modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">注册</h4>
      </div>
      <div class="modal-body">
          <div class="pc-login-error">
              {{#if errorMsg}}
              {{errorMsg}}
              {{/if}}
          </div>
          <div class="form-group">
            <label for="registerEmail">注册邮箱</label>
            {{input type="text" class="form-control" id="registerEmail" name="registerEmail" placeholder="1527254027@qq.com" value=email focus-in="clearTipInfo"}}
          </div>
          <div class="form-group">
            <label for="registerPassword">密码</label>
            <!-- {{md-5 type="password" class="form-control" id="registerPassword" placeholder="请输入密码" value=password}} -->
            {{input type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="请输入密码" value=password}}
          </div>

          <div class="form-group">
            <label for="registerPassword2">确认密码</label>
            {{input type="password" class="form-control" name="registerPassword2" id="registerPassword2" placeholder="确认密码" value=password2}}
          </div>

      </div>
      <div class="modal-footer">
          <div class="pull-left" id="registerLoading" style="display:none;">
              <img src="/assets/images/loading/loading.gif" />
          </div>

          <button type="submit" class="btn btn-success" id="registerBtn">注册</button>
      </div>
    </div>
  </div>
</div>
</form>
