{{!
pc端的首页
@Author: ubuntuvim
@Date:   2016-07-04T22:09:51+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-28T22:09:07+08:00
pc端的子模板渲染到这里 app/templates/pc.hbs }}

{{! 背景图片设置}}
<div id="appBgImg" class="app-bg-img">
    {{#if model.user.profile.bgImg}}
    <img src={{model.user.profile.bgImg}} width="100%" height="100%" id="bgImg"/>
    {{else}}
    {{! 未登录的时候显示默认背景图片}}
    <img src="http://res.cloudinary.com/ddlisting/image/upload/v1467900744/utmspd88symq6whjkxmb.jpg" width="100%" height="100%" id="bgImg"/>
    {{/if}}
</div>

{{outlet}}


<!-- 新增分类 -->
{{pc/new-project store=store model=model}}
<!-- 修改分类 -->
{{pc/edit-project store=store model=model}}

{{! 个人设置页面}}
{{pc/profile-setting store=store model=model}}

{{! 更换背景图片}}
{{pc/change-background-img store=store model=model}}

{{! 使用引导}}
{{pc/user-guides}}
